.card-title {
  font-weight: bold;
  color: #01519b;
}
.card {
  margin-bottom: 20px;
}
.progressbar-container {
  width: 130px;
  display: block;
  margin: 30px auto 0;
}
.progressbar-container .CircularProgressbar .CircularProgressbar-text {
  font-weight: bold;
  font-size: 16px;
}
.m-l-10 {
  margin-left: 10px;
}
.card-text {
  margin: 10px 0;
}
.btn-ro {
  width: 100%;
  color: #fff !important;
  font-weight: bold;
  background-color: #01519b;
}
.btn-ro:hover {
  background-color: #0267b2;
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: #0267b2 !important;
}
body {
  background-color: #bee2fb;
}
